<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.spring.mapper.BoardMapper">

	<select id="getBoardList" resultType="boardVO">
		select * from tb_board order by idx desc
	</select>

	<select id="read" parameterType="Integer" resultType="boardVO">
		select *
		from tb_board where idx=#{idx}
	</select>

	<insert id="insertBoard" parameterType="boardVO">
		insert into
		tb_board(idx, title, contents, writer)
		values(
			idx_seq.NEXTVAL,
			#{title},
			#{contents},
			#{writer})
	</insert>

	<update id="updateBoard" parameterType="boardModyVO">
		update tb_board
		set
		title=#{title}, contents=#{contents}
		where idx=#{idx}
		
		
	</update>
	
	<delete id="deleteBoard" parameterType="Integer">
		delete from tb_board where
		idx=#{idx}
	</delete>
	
	
	<update id="boardUpdatpageCount" parameterType="Integer">
		update tb_board
		set count=count+1
		where idx=#{idx}
	
	</update>

<!--  



	<select id="memberLogin" parameterType="memberVO"
		resultType="String">
		select name from member where id=#{id} and pass=#{pass}
	</select>

	아이디 중복체크
	<select id="memberDoubleCheck" parameterType="String"
		resultType="String">
		select id from member where id=#{id}
	</select>

	<update id="memberDeleteFile" parameterType="int">
		update member set
		filename='' where num=#{num}
	</update>

	<update id="memberFileUpdate" parameterType="memberVO">
		update member
		set
		age=#{age}, email=#{email}, phone=#{phone}, filename=#{filename}
		where
		num=#{num}
	</update>
	-->
</mapper>