<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.spring.mapper.MemberMapper">

	<select id="memberList" resultType="memberVO">
		select * from member
	</select>

	<insert id="memberInsert" parameterType="memberVO">
		insert into member(id, pass, name, age, email, phone)
		values(
		#{id},
		#{pass},
		#{name},
		#{age},
		#{email},
		#{phone}
		)
	</insert>
	
		<insert id="memberInsertFile" parameterType="memberVO">
		insert into member(id, pass, name, age, email, phone,filename)
		values(
		#{id},
		#{pass},
		#{name},
		#{age},
		#{email},
		#{phone},
		#{filename}
		
		)
	</insert>

	<delete id="memberDelete" parameterType="Integer">
		delete from member where num=#{num}
	</delete>

	<select id="memberContent" parameterType="Integer"
		resultType="memberVO">
		select * from member where num=#{num}
	</select>

	<update id="memberUpdate" parameterType="memberVO">
		update member
		set age=#{age}, email=#{email}, phone=#{phone}
		where num=#{num}
	</update>

	<select id="memberLogin" parameterType="memberVO"
		resultType="String">
		select name from member where id=#{id} and pass=#{pass}
	</select>

	<!-- 아이디 중복체크 -->
	<select id="memberDoubleCheck"  parameterType="String"  resultType="String">
	select id from member where id=#{id}
	</select>
	
	<update id="memberDeleteFile" parameterType="int">
		update member set filename='' where num=#{num}
	</update>
	
	<update id="memberFileUpdate" parameterType="memberVO">
		update member
		set age=#{age}, email=#{email}, phone=#{phone}, filename=#{filename}
		where num=#{num}
	</update>
</mapper>